.setting {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 90px;
}

.homeHide i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 90px;
  color: #2F4F4F;
}

.bord {
  position: absolute;
  padding: 15px;
  border: 2px solid red;
  width: 250px;
  top: 35%;
  height: 25px;
  left: 35%;
  font-size: 1rem;
}

.bord p {
  font-size: 1rem;
}

.img img {
  position: absolute;
  left: 45%;
}
