.backButton {
  position: absolute;
  margin-top: -22%;
}

.container {
  color: #2F4F4F;
  text-align: center;
}


.container h2 {
  text-align: center;
   font-family: 'Lato';
   font-size: 35px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   color: #044047;
}

.cam {
  text-align: center;
}

.cam input {
  opacity: 0;
}

.container a {
  color: #2F4F4F;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2.4rem;
}

.counter {
  font-size: 10rem;
  letter-spacing: -.025em;
}

.btnGroup {
  position: relative;
  top: 500px;
  margin: 0px;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px;
  width: 100px;
  height: 100px;
  opacity: .7;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
