.container {
  text-align: center;
  color: #2F4F4F;
}

.header {
  background-color: #2F4F4F;
  height: 75px;
  position: relative;
 }

.header .logowgf {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -71px
}

.under {
  background-color: #DDB726;
  height: 20.5px;
}

.stl {
  position: relative;
}

.imgtournament {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color:  white;
  letter-spacing: -.025em;
}

.container h2 {
   color: #2F4F4F;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
}

.container a {
  color: #2F4F4F;
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
}

.container p {
  postion: absolute;
  color: #2F4F4F;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-align: center;
}
