body {
  color: #2F4F4F;
  margin: 0 auto;
  background-color: #E1EEF6;
  font-family: Lato-Bold, Lato-Bold, Helvetica Neue;
  overflow-y: hidden;
}

h2 {
  font-size: 2.25rem;
  color:  #2F4F4F;
  letter-spacing: -.025em;
  color: black;
}

h1 {
  margin: 0;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
